@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Signika', sans-serif;
  height: 100%;
  background-image: radial-gradient(circle, #d3d3d3, #d9d9d9, #dfdfdf, #e6e6e6, #ececec, #efefef, #f1f1f1, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4);
}

main {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

main div {
  padding: 20px;
  border: 1px solid black;
  margin: 10px; 
  box-shadow: 20px 20px rgba(60, 0, 0, 1);
}


.scelta-uno, .scelta-due {
    flex: 1 1 0;
  }


.win-div {
  flex: 100%;
}

.ancora{
  flex: 100%;
}

.btn {
  transition: all 200ms ease-in;
  display: inline-block;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px solid black;
  padding: 12px 28px;
  box-shadow: 10px 10px rgba(60, 0, 0, 1);

  transform: skew(10deg);
}

.btn:hover {
  background: rgba(60, 0, 0, 1);
  box-shadow: 10px 10px black;

  color: white;
  transform: skew(-10deg);
}