@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Signika', sans-serif;
  height: 100%;
  background-image: radial-gradient(circle, #d3d3d3, #d9d9d9, #dfdfdf, #e6e6e6, #ececec, #efefef, #f1f1f1, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4, #f4f4f4);
}

main {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

main div {
  padding: 50px;
  margin: 10px; 
  box-shadow: 20px 20px #009688;
}


.scelta-uno, .scelta-due {
  flex: 1 1 0;
  }


.win-div {
  flex: 100%;
}

.ancora{
  flex: 100%;
}

.btn {
  transition: all 200ms ease-in;
  color: black;
  font-weight: bold;
  border: 4px solid black;
  padding: 12px 28px;
  box-shadow: 10px 10px #00796B;
  transform: skew(10deg);
}

.btn:hover {
  background: #B2DFDB;
  box-shadow: 10px 10px black;
  color: #212121;
  transform: skew(-10deg);
  outline: 55px dashed #03A9F4;
  outline-offset: 20px;
}


.btn:active {
  outline: 0 dashed #009688;
  outline-offset: 20px;
}